* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Rosario", sans-serif;
  font-size: 16px;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

li {
  list-style: none;
}

#Home {
  height: 100vh;
  overflow: hidden;
}

/**************Nav-bar styles**************/
.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0em auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 10px #000000;
          box-shadow: 5px 5px 10px #000000;
}

.nav-links,
.nav-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
  list-style: none;
  padding: 0em 0.625rem;
  font-size: 1.5em;
  color: #fa249e;
  font-weight: 700;
  border-radius: 5px;
}

.fa-angle-down {
  padding-left: 3px;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  width: 200px;
  position: absolute;
  background-color: #fa249e;
  display: none;
  border-radius: 5px;
}

.dropdown-content ul {
  list-style: none;
  font-size: 1.2em;
}

.dropdown-content a {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  z-index: 10;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #fa249e;
  color: #ffffff;
}

/********logo**********/
.brand-container {
  float: left;
}

.brand-container .logo {
  width: 100px;
  padding-left: 20px;
}

.collapsed-nav {
  display: none;
}

/********** Desktop**********/
@media (max-width: 991px) {
  #home {
    height: auto;
  }
  .brand-container .logo {
    width: 80px;
  }
  .nav-links-container,
  .phone {
    display: none;
  }
  /******************Collapsed nav*******************/
  .collapsed-nav {
    display: block;
    position: absolute;
    float: right;
    z-index: 10;
    top: 0px;
    right: 20px;
  }
  .toggler {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 45px;
    right: 5px;
    float: right;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
  }
  .toggler:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #000000;
  }
  .toggler:checked + .hamburger > div::before, .toggler:checked + .hamburger > div::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .toggler:checked:hover + .hamburger > div {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .toggler:checked ~ .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    pointer-events: all;
  }
  .toggler:checked ~ .menu > .overlay {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition-duration: 0.45s;
            transition-duration: 0.45s;
  }
  .hamburger {
    position: absolute;
    top: 40px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    -webkit-box-shadow: -3px 3px 5px #043849;
            box-shadow: -3px 3px 5px #043849;
    width: 50px;
    height: 50px;
    padding: 1em 1rem;
  }
  .hamburger > div {
    position: relative;
    background-color: #fa249e;
    height: 2px;
    width: 100%;
  }
  .hamburger > div::before, .hamburger > div::after {
    content: "";
    height: 2px;
    width: 100%;
    background: inherit;
    position: absolute;
    top: -10px;
    z-index: 1;
  }
  .hamburger > div::after {
    top: 10px;
  }
  .menu {
    position: absolute;
    top: 40px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 65vh;
    width: 20em;
    overflow: hidden;
    display: none;
    border-radius: 0px 0px 50px 50px;
    pointer-events: none;
    background: url("../../images/Background/beige-tiles.png") no-repeat center center/cover;
  }
  .menu .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150vw;
    width: 150vw;
    background-color: #320d4d;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 5%;
  }
  .menu .overlay div {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: inherit;
    text-align: left;
  }
  .menu .overlay div .collapsed-nav-links {
    background: inherit;
  }
  .menu .overlay div .collapsed-nav-links li {
    background-color: inherit;
    list-style: none;
    margin: 15px;
    padding: 0.75em 0.75rem;
    font-size: 1em;
    color: #fa249e;
    border-radius: 10px;
  }
  .menu .overlay div .collapsed-nav-links li a {
    background-color: inherit;
  }
  .menu .overlay div .collapsed-nav-links li:hover, .menu .overlay div .collapsed-nav-links li:focus {
    color: #ffffff;
    background-color: #fa249e;
  }
  .menu .overlay div .collapsed-nav-links li a {
    text-decoration: none;
    color: inherit;
    font-size: 1.8em;
    font-weight: 700;
    width: 20em;
  }
}

/**************Image slider styles*****************/
.carousel-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/*********Meet Chef section styles************/
#About .welcome-container {
  background: #fa249e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#About .welcome-container .welcome {
  width: 80%;
  margin: 0em auto;
}

#About .welcome-container .welcome h2 {
  text-align: center;
  background: inherit;
  color: #ffffff;
  text-transform: uppercase;
}

.to-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 10;
  background-color: #fa249e;
  border: none;
  background: transparent;
}

.to-top .fas {
  outline: none;
  font-size: 2em;
  background-color: inherit;
  color: rgba(116, 101, 110, 0.5);
  padding: 0.2em 0.2rem;
}

.chef-container {
  width: 80%;
  margin: 3em auto 0em auto;
  height: 100vh;
}

.chef-container .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

/*******Tablet devices********/
@media (min-width: 575px) and (max-width: 767px) {
  .chef-container {
    width: 80%;
    margin: 3em auto 0em auto;
    height: auto;
  }
  .chef-container .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3em;
  }
  .chef-container .grid-container .image-thumb img {
    width: 100%;
  }
}

/********** Mobile phones**********/
@media (max-width: 575px) {
  .chef-container {
    width: 90%;
    margin: 3em auto 0em auto;
    height: auto;
  }
  .chef-container .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3em;
  }
  .chef-container .grid-container .image-thumb img {
    width: 100%;
  }
}

/********Made with love styles**********/
.made-with-love {
  padding-bottom: 3rem;
}

.made-with-love h2 {
  padding-bottom: 2em;
}

.made-with-love .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 80%;
  margin: auto;
}

/********** Desktop**********/
@media (min-width: 767px) and (max-width: 991px) {
  .made-with-love .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/*******Tablet devices********/
@media (min-width: 575px) and (max-width: 767px) {
  .made-with-love .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/********** Mobile phones**********/
@media (max-width: 575px) {
  .made-with-love .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#testimonials {
  height: 100vh;
}

.testimonial-container {
  width: 80%;
  margin: auto;
}

.testimonial-container h2 {
  padding: 2em 0rem;
}

.testimonial-container .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(200px, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.testimonial-container .grid-container .testimony {
  padding: 10px;
}

.testimonial-container .grid-container .testimony blockquote {
  padding: -15px;
}

/********** Desktop**********/
@media (min-width: 767px) and (max-width: 991px) {
  #testimonials {
    height: auto;
    padding-bottom: 6em;
  }
  .testimonial-container {
    width: 90%;
    margin: auto;
  }
}

/*******Tablet devices********/
@media (min-width: 575px) and (max-width: 767px) {
  #testimonials {
    height: auto;
  }
  .testimonial-container .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
  }
  .testimonial-container .grid-container .testimony {
    margin: 2rem auto;
  }
}

/********** Mobile phones**********/
@media (max-width: 575px) {
  #testimonials {
    height: auto;
  }
  .testimonial-container {
    width: 92%;
  }
  .testimonial-container .grid-container {
    width: 100%;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 2rem;
  }
  .testimonial-container .grid-container .testimony {
    margin: 2rem auto;
  }
}

#contact {
  height: 85vh;
  background: #ececec;
}

#contact h2 {
  padding: 2em 0rem;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50%;
  margin: auto;
  padding: 10px 20px 50px 20px;
}

/********** Desktop**********/
@media (min-width: 767px) and (max-width: 991px) {
  .contact-container {
    width: 80%;
  }
}

/*******Tablet devices********/
@media (min-width: 575px) and (max-width: 767px) {
  .contact-container {
    width: 80%;
  }
}

/********** Mobile phones**********/
@media (max-width: 575px) {
  .contact-container {
    width: 92%;
  }
}

/*******footer styles********/
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2em;
}

/*******Tablet devices********/
@media (min-width: 575px) and (max-width: 767px) {
  .footer-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom .copyright-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/********** Mobile phones**********/
@media (max-width: 575px) {
  footer {
    height: auto;
  }
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-container .mailing {
    padding-top: 2em;
  }
  .footer-container .mailing > h4 {
    text-align: center;
  }
  .footer-container .footer-right {
    padding-top: 2em;
  }
  .footer-bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-bottom .copyright-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/********** Extra small devices**********/
@media (max-width: 350px) {
  .mailing label {
    display: block;
    margin: 1em auto 1em auto;
    width: 50%;
    text-align: center;
  }
}

.external-links-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #320d4d;
  color: #ffffff;
}

.external-links-container .external-contact, .external-links-container .social-media-links {
  float: left;
  padding: 0.5em 2em;
  background-color: inherit;
  color: #ffffff;
}

.external-links-container .external-contact span, .external-links-container .social-media-links span {
  color: inherit;
  background-color: inherit;
}

.external-links-container .social-media-links {
  float: right;
  color: #ffffff;
}

.external-links-container .social-media-links a {
  padding: 0em 0.3rem;
  background-color: inherit;
  color: #ffffff;
  text-decoration: none;
}

/********** Mobile phones**********/
@media (max-width: 575px) {
  .external-contact span, .external-links-container .social-media-links span {
    display: none;
  }
}

.phone {
  background-color: #fa249e;
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
  color: #fff;
  margin-right: 15px;
  border: 2px solid #000;
  border-radius: 10px;
}

.phone .fas {
  background-color: inherit;
}

.phone:hover,
.phone:focus {
  -webkit-box-shadow: 2px 2px 10px #000000;
          box-shadow: 2px 2px 10px #000000;
  font-size: 110%;
  color: #fa249e;
  background-color: #011627;
}

.carousel-container .fas {
  position: absolute;
  font-size: 2.5em;
  background: transparent;
  outline: none;
  border: none;
  color: #ffffff71;
  top: 30%;
}

.carousel-container .fa-chevron-circle-left {
  left: 30px;
}

.carousel-container .fa-chevron-circle-right {
  right: 30px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide.current .content {
  opacity: 1;
  -webkit-transform: translateX(310px);
          transform: translateX(310px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.content {
  width: 300px;
  position: absolute;
  bottom: 120px;
  left: -300px;
  padding: 0.5em 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}

.content h3,
.content p {
  background-color: inherit;
}

/*Background Images*/
.slide:first-child {
  background: url("../../images/Carousel/premium-cakes.jpg") no-repeat center center/cover;
  color: #333;
}

.slide:nth-child(2) {
  background: url("../../images/Carousel/cup 1.jpg") no-repeat center center/cover;
  color: #333;
}

.slide:nth-child(3) {
  background: url("../../images/Carousel/fall cake.jpg") no-repeat center center/cover;
  color: #333;
}

.slide:nth-child(4) {
  background: url("../../images/Carousel/fancy 1.jpg") no-repeat center center/cover;
  color: #333;
}

.slide:nth-child(5) {
  background: url("../../images/Carousel/New.jpg") no-repeat center center/cover;
  color: #333;
}

.welcome {
  padding-bottom: 2em;
  background: inherit;
}

.welcome h2 {
  padding-top: 2em;
}

.welcome h6 {
  line-height: 5px;
  text-align: center;
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
  padding-bottom: 4em;
  background: inherit;
  color: #ffffff;
}

.welcome-message {
  background: inherit;
  padding-bottom: 4.5em;
}

.welcome-message p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.75em;
  background: inherit;
  color: #ffffff;
  font-size: 1.2em;
}

.meet-chef-btn {
  display: block;
  width: 11rem;
  margin: 1em auto 3em auto;
  padding: 0.938em 0.9375rem;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #fa249e;
}

.meet-chef-btn:hover {
  color: #ffffff;
  background-color: #fa249e;
  -webkit-box-shadow: 5px 5px 10px #ffffff;
          box-shadow: 5px 5px 10px #ffffff;
}

.meet-chef-btn:hover .fas {
  background-color: inherit;
}

.chef-container .grid-container {
  padding-top: 5rem;
}

.chef-container .grid-container .chef-message {
  font-size: 1.4em;
}

.chef-container .grid-container .chef-message h2 {
  padding: 0em 0rem 0em 0rem;
  text-transform: uppercase;
}

.chef-container .grid-container .chef-message p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.75em;
}

.chef-container .grid-container img {
  width: 300px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 5px 10px #011627;
          box-shadow: 5px 5px 10px #011627;
}

.made-with-love h2 {
  text-align: center;
}

.made-with-love .grid-container {
  width: 80%;
}

.card img {
  width: 100%;
  height: 12.5rem;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.card h3 {
  text-align: center;
  font-weight: 300;
  padding-top: 0.625em;
}

.card p {
  display: block;
  text-align: center;
  color: #968790;
}

#testimonials {
  background-color: #fa249e;
}

.testimonial-container {
  background-color: inherit;
}

.testimonial-container h2 {
  background-color: inherit;
  text-align: center;
  color: #ffffff;
}

.testimonial-container .grid-container {
  background-color: inherit;
}

.testimonial-container .grid-container .testimony {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}

.testimonial-container .grid-container .testimony > .card {
  padding: 0.625em 0.625rem;
}

.testimonial-container .grid-container .testimony > .card h3 {
  text-align: left;
}

.testimonial-container .grid-container .testimony ::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 60%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #ffffff;
}

.testimonial-container .grid-container .testimony h3,
.testimonial-container .grid-container .testimony h4,
.testimonial-container .grid-container .testimony p {
  background-color: inherit;
}

.testimonial-container .grid-container .testimony p {
  padding: 0.9375rem;
}

.testimonial-container .grid-container .testimony blockquote {
  padding-top: 0.9375rem;
}

.testimonial-container .grid-container .testimony blockquote ::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid red;
}

#contact h2 {
  text-align: center;
  background-color: #ffeff8;
}

#contact form {
  background-color: #ffeff8;
}

.contact-container {
  background-color: inherit;
}

.contact-container label {
  display: block;
  text-transform: uppercase;
  background-color: inherit;
}

.contact-container label b {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  background-color: inherit;
}

.contact-container input {
  padding: 16px;
  margin-bottom: 15px;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  background-color: #e4dede;
}

.contact-container input:focus {
  outline: none;
  -webkit-box-shadow: -3px 3px 5px #fa249e;
          box-shadow: -3px 3px 5px #fa249e;
}

.contact-container textarea {
  padding: 10px 5px 5px 5px;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  resize: vertical;
  background-color: #e4dede;
}

.contact-container textarea:focus {
  outline: none;
  -webkit-box-shadow: -3px 3px 5px #fa249e;
          box-shadow: -3px 3px 5px #fa249e;
}

.contact-container #send-message {
  padding: 15px;
  text-transform: uppercase;
  margin: 20px auto;
  background: #fa249e;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  width: 100px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact-container #send-message .fa-paper-plane {
  background-color: inherit;
}

.contact-container #send-message:hover, .contact-container #send-message:focus {
  background: #ffffff;
  color: #fa249e;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-box-shadow: 5px 5px 10px #fa249e;
          box-shadow: 5px 5px 10px #fa249e;
  outline: none;
}

/**********footer style************/
footer {
  background-color: #011627;
  color: #d9d0de;
}

.footer-bottom {
  background-color: #01111f;
}

.footer-nav {
  background-color: inherit;
}

.footer-nav p {
  background-color: inherit;
  padding: 0.623rem;
  text-decoration: none;
  color: #d9d0de;
}

.footer-nav p a {
  text-decoration: none;
  color: #968790;
  background-color: inherit;
  padding: 0em 0.325rem;
}

.copyright-text {
  background-color: inherit;
}

.copyright-text p {
  background-color: inherit;
  color: #d9d0de;
  padding: 0.623rem;
}

.copyright-text p a {
  background-color: inherit;
  color: #968790;
  font-style: italic;
}

/********** Extra small devices**********/
@media (max-width: 360px) {
  .copyright-text p a {
    display: block;
    color: #968790;
  }
}

.footer-container {
  background-color: #011627;
  color: #ffffff;
  position: relative;
}

.footer-left {
  background-color: inherit;
}

.footer-left img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: inherit;
}

.footer-left p {
  background-color: inherit;
  text-align: left;
}

.footer-left a {
  color: #d9d0de;
  background-color: inherit;
  text-decoration: none;
}

.mailing {
  background-color: inherit;
}

.mailing h4 {
  font-size: 1.2em;
  background-color: inherit;
  padding-bottom: 0.625em;
}

.mailing input {
  border: none;
  border-radius: 5px;
  padding: 0.938em;
  font-size: 1.1em;
}

.mailing label {
  color: black;
  padding: 0.938em;
  border-radius: 5px;
  font-size: 1.1em;
}

.footer-right {
  background-color: inherit;
}

.footer-right h4 {
  font-size: 1.2em;
  background-color: inherit;
  padding-bottom: 0.625em;
}

.footer-right a {
  padding: 0.625rem;
  font-size: 2em;
  color: #d9d0de;
  background-color: inherit;
}

.footer-right .fa-facebook-square {
  color: #3b5998;
  text-decoration: none;
}

.footer-right .fa-instagram {
  background-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  border-radius: 7px;
  padding: 0.009em;
  text-decoration: none;
}

.footer-right .fa-whatsapp {
  color: #25d366;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */