// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  // font-family: "Roboto", sans-serif;
  // font-family: "Rubik", sans-serif;
  // font-family: "Fira Sans", sans-serif;
  // font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
